{{define "outputs"}}
<table class=\"ml-6\">
    <thead>
        <tr>
            <th>Argument</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
    {{$WordBreak=.WordBreak}}
    {{range .Properties}}
        <tr>
            <td class="align-top">{{.$WordBreak .Name}}</td>
            <td class="align-top">
                <code>{{.TypeStringPulumi .Type, true}}</code>
            </td>
            <td class="align-top">
                {{%% md %%}}
                {{.Comment}}
                {{%% /md %%}}
            </td>
        </tr>
    {{end}}
    </tbody>
</table>
{{end}}
