{{define "properties"}}
<table class="ml-6">
    <thead>
        <tr>
            <th>Argument</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
    {{range .}}
        <tr>
            <td class="align-top">{{.Name}}</td>
            <td class="align-top">
                <code>{{.Type}}</code>
            </td>
            <td class="align-top">
                {{htmlSafe "{{% md %}}"}}
                {{if .IsInput}} {{if .IsRequired}} (Required) {{else}} (Optional) {{end}} {{end}} {{.Comment}}
                {{htmlSafe "{{% /md %}}"}}
            </td>
        </tr>
    {{end}}
    </tbody>
</table>
{{end}}
