{{define "properties"}}
<table class="ml-6">
    <thead>
        <tr>
            <th>Argument</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
    {{range .}}
        <tr>
            <td class="align-top">{{htmlSafe .Name}}</td>
            <td class="align-top">
                <code>{{htmlSafe .Type}}</code>
            </td>
            <td class="align-top">
            {{if .IsInput}} {{if .IsRequired}} (Required) {{else}} (Optional) {{end}} {{end}}
            {{.Comment}}
            </td>
        </tr>
    {{end}}
    </tbody>
</table>
{{end}}
