{{define constructor}}
<span class="k">new</span>
<span class="nx">
    <a href=/docs/reference/pkg/nodejs/pulumi/aws/s3/#%s>%s</a>
</span>
<span class="p">(</span>
<span class="nx">name</span>
:&nbsp;
<span class="kt">
    <a href=https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String>string</a>
</span>
<span class="p">,</span>
&nbsp;
<span class="nx">args%s</span>
:&nbsp;
<span class="kt">
    <a href=/docs/reference/pkg/nodejs/pulumi/aws/s3/#%s>%s</a>
</span>
<span class="p">,</span>
&nbsp;
<span class="nx">opts?</span>
:&nbsp;
<span class="kt">
    <a href=/docs/reference/pkg/nodejs/pulumi/pulumi/#CustomResourceOptions>pulumi.CustomResourceOptions</a>
</span>
<span class="p">);</span>
{{end}}
