<span class="k">new</span>
<span class="nx">
    <a href=/docs/reference/pkg/nodejs/pulumi/aws/s3/#{{.Name}}>{{.Name}}</a>
</span>
<span class="p">(</span>
<span class="nx">name</span>
:&nbsp;
<span class="kt">
    <a href=https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String>string</a>
</span>
<span class="p">,</span>
&nbsp;
{{if .IsArgsRequired}}
<span class="nx">args</span>
{{else}}
<span class="nx">args?</span>
{{end}}
:&nbsp;
<span class="kt">
    <a href=/docs/reference/pkg/nodejs/pulumi/aws/s3/#{{.ArgsType}}>{{.ArgsType}}</a>
</span>
<span class="p">,</span>
&nbsp;
<span class="nx">opts?</span>
:&nbsp;
<span class="kt">
    <a href=/docs/reference/pkg/nodejs/pulumi/pulumi/#CustomResourceOptions>pulumi.CustomResourceOptions</a>
</span>
<span class="p">);</span>
